body{
    background-color: #DADADA;
    font-family: "Calibri", serif;
    text-align: center;
}

div {
	margin: 1.5em;
}

form input{
    background-color: white;
    border-radius: 1rem;
    border: none;
}
button:hover {
    color:white;
    background-color: black;
}

button{
    border-radius: 1rem;
    border: none;
    padding: 15px 32px;
    color: black;
    font-weight: bold;
}
#botaoBranco{
    background-color: white;
}
#botaoCorrige{
    background-color: red;
}
#botaoConfirma{
    background-color: green;
}

.divTabelaResultados table{
	margin: auto;
}