<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>urnaEletronicaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>verificaEleitorController</display-name>
    <servlet-name>verificaEleitorController</servlet-name>
    <servlet-class>urna.controller.verificaEleitorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verificaEleitorController</servlet-name>
    <url-pattern>/verificaEleitorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>votacaoDepController</display-name>
    <servlet-name>votacaoDepController</servlet-name>
    <servlet-class>urna.controller.votacaoDepController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>votacaoDepController</servlet-name>
    <url-pattern>/votacaoDepController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>votacaoPresController</display-name>
    <servlet-name>votacaoPresController</servlet-name>
    <servlet-class>urna.controller.votacaoPresController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>votacaoPresController</servlet-name>
    <url-pattern>/votacaoPresController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeController</display-name>
    <servlet-name>homeController</servlet-name>
    <servlet-class>urna.controller.homeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeController</servlet-name>
    <url-pattern>/homeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resultadosController</display-name>
    <servlet-name>resultadosController</servlet-name>
    <servlet-class>urna.controller.resultadosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultadosController</servlet-name>
    <url-pattern>/resultadosController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmaDepController</display-name>
    <servlet-name>confirmaDepController</servlet-name>
    <servlet-class>urna.controller.confirmaDepController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmaDepController</servlet-name>
    <url-pattern>/confirmaDepController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmaPresController</display-name>
    <servlet-name>confirmaPresController</servlet-name>
    <servlet-class>urna.controller.confirmaPresController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmaPresController</servlet-name>
    <url-pattern>/confirmaPresController</url-pattern>
  </servlet-mapping>
</web-app>